@import url('https://fonts.googleapis.com/css2?family=Griffy&family=Manrope:wght@200..800&family=Momo+Trust+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";


@theme{
    --font-grif: "Griffy", system-ui;
    --font-mon : "Montserrat", sans-serif;
}
html,body,#root{
    @apply bg-black text-white min-h-screen
}
.swiper-pagination-bullet{
    background-color: rgb(255, 255,0,0.5) !important;
}
.swiper-pagination-bullet-active{
    background-color: #facc15 !important;
}

